.mainBody {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.contentBody {
    background: #EBEBEB;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.james {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/JamesIEngland.jpg/1200px-JamesIEngland.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    width: calc(100vw /3 * 1);
    height: 100vh;
    z-index: -1;
    position: absolute;
}

.onethird {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100vw / 3 * 1);
    height: 100vh;
}

#scotland {
    background: #005eb8;
    opacity: 0.83;
}

.twothird {
    display: flex;
    align-items: center;
    width: calc(100vw /3 * 2);
    height: 100vh;
}

#scotwhite {
    background: #EBEBEB;
}

.title {
    font-size: 3.5em;
    margin-right: 0.3em;
}

#macbeth {
    color: #FFFFFF;
}

.subtitle {
    margin-left: 0.3em;
    font-size: 3.5em;
}

#shakespeare {
    color: #6D6D6D;
}

.nav hr {
    border-top: 1px solid #4b4d4e;
}

.nav {
    text-align: center;
    color: #4b4d4e;
    align-self: flex-start;
    margin-left: auto;
    margin-right: 5em;
    margin-top: 3em;
    font-size: 1em;
}

.nav a {
    text-decoration: none;
    color: #4b4d4e;
}

.nav a:hover {
    color: #252627;
}

.introText {
    align-self: flex-end;
    bottom: 3em;
    margin-left: 2.5em;
    position: absolute;
    width: 25em;
    font-size: 1em;
}

#history {
    color: #4b4d4e;
}

.header {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foundHeader {
    background: url('http://leavingcertenglish.net/wp-content/uploads/2013/08/fancy-pen.jpg');
    background-attachment: fixed;   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 3em;
}

#extHeader {
    background: #003399;
    color: white;
    font-size: 3em;
    opacity: 0.84;  
}

.content {
    margin-top: 3em;
    margin-left: 10em;
    margin-right: 10em;
    color: #4b4d4e;
}
.backContainer {
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.backContainer a {
    text-decoration: none;
    color: #4b4d4e;
    font-size: 2em;
}

.backContainer a:hover {
    color: #252627;
}