html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#time {
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8.5vh;
    font-family: Josefin Sans, Arial;
    font-weight: 300;
    text-decoration: none;
}
#timeswitch{
    text-align: center;
    color: white; 
    font-family: Josefin Sans, Arial;
    font-weight: 300;
    font-size: 2em;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none; 
}
