@font-face {
  font-family: Adam;
  src: url("Adam.otf"); /* Whats this  fontspring bulletproof syntax? */
}
body{
  font-family: Lato, Arial, Sans-Serif;
}
#titletext{
  font-family: Adam;
}
#parallax0{
  background-image: url("Placeholder/Parallax/parallax0.jpg");
}
#parallax1{
  background-image: url("Placeholder/Parallax/parallax1.jpg");
}
.ezparallax{
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}