body, html, #bg{
	height: 100vh;
    width: 100vw;
	padding: 0;
	margin: 0;
}
#rightext {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
#mainrighttext{
    font-size: 6vh;
}
#unmainrighttext{
    font-size: 3vh;
}




#bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("https://my.mixtape.moe/hyabab.jpg");
}




#button{
    border-radius: 0.5em;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    padding: 1.5vh 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vh;
    color: white;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: none;
    display: inline-block;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 2vh;
    text-decoration: none;
    font-size: 2vh;
}

#navbar li a:hover {
    text-decoration: underline; 
}

#info{
    height: 50vh;
    background-color: white;
}
#albumtext{
    float:left;
}
#carousel{
    float:left;
}
#album{
    width: 100vw; !important;
    padding: 0px;
    margin: 0px; !important; 
}
.col-md-6{
    padding: 0px; !important;
}