/* Importing font */

@font-face {
    font-family: Adam;
    src: url('Adam.otf')
}

body {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", Arial;
    margin: 0rem;
    padding: 0rem;
    height: 100%
}

#rightext {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3rem;
    white-space: nowrap;
    animation-delay: 1.5s;
}

p {
    margin: 0;
    font-size: 1.5rem;
}

#navbar {
    opacity: 0.5;
    filter: alpha(opacity=30);
    /* IE8 and eariler */
    background: black;
    margin: 0 auto;
    text-align: center;
    height: 4rem;
}

#navbar ul {
    height: auto;
    padding: 1.3em 0px;
    margin: 0rem;
}

#navbar li {
    display: inline;
    padding: 1.25rem;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#navbar li:hover,
#black:hover {
    background: #D3D3D3;
    color: black;
}

#Logo {
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* IE8 and eariler */
    background: black;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0rem
}

#Logo ul {
    padding: 0.7rem 0rem;
    margin: 0rem;
}

#Logo li {
    display: inline;
    padding: 1rem;
}

#Logo a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-family: Adam;
    font-size: 2rem;
}

.active {
    background: #D3D3D3;
}