@font-face {
    font-family: "Roboto";
    src: url("./lib/materialize/fonts/roboto/Roboto-Regular.woff2") format("woff2")
         url("./lib/materialize/fonts/roboto/Roboto-Regular.woff") format("woff");
}
:root {
    --masterFont: "Roboto";
}
body {
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

#hamburger {
    font-size: 1.5em;
    vertical-align: middle;
}

img {
    width: 30em;
}
@media screen and (max-width: 480px) {
    img {width: 100%};
}
h1 {
    margin-right: 4vw;
    margin-left: 4vw;
    text-align: center;
}
.header {
    display: flex;
    width: 100%;
    height: 20em;
    align-items: center;
    justify-content: center;
    color: white;
}
.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
